<h1>All Directors</h1>

<form action="/create_director" method="post">
  <label for="name_field">Name</label>
  <input id="name_field" name="query_name">

  <label for="dob_field">DOB</label>
  <input id="dob_field" name="query_dob">

  <label for="bio_field">Bio</label>
  <input id="bio_field" name="query_bio">

  <label for="image_field">Image</label>
  <input id="image_field" name="query_image">

  <button>Create director</button>
</form>

<ul>
  <% @directors.each do |director| %>
    <li>
      <%= director.name %> |
      <a href="/directors/<%= director.id %>">Show details</a> |
      <a href="/delete_director/<%= director.id %>">Delete</a>
    </li>
  <% end %>
</ul>
